@import '../abstract/variaveis';

#curiosidades {
    text-align: center;
    margin: 2rem;

    img {
        width: 400px;
    }


    .texto {

        h3 {
            font-size: calc($tamanho-do-texto / 1.5);
            color: $cor4;
            text-transform: uppercase;
            margin: 20px 0px;
        }

        h4 {
            font-size: calc($tamanho-do-texto / 2);
            color: $cor1;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            color: $cor5;
            max-width: 60%;
            margin: auto;
            padding: 20px;
            line-height: 30px;
            background-color: $cor2;
        }
    }
}