@import '../abstract/variaveis';

nav {
    text-align: center;
    

    ul {

        li {
            display: inline-block;
            padding: 1rem;
            font-size: 1.3em;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                color: $cor1;

                &:hover {
                    border-bottom: 2px solid $cor3;
                }
            }
        }
    }
}